<h1>Hello World!</h1>
<router-outlet></router-outlet>

<ul>
    <li><a routerLink="/" routerLinkActive="">Home</a></li>
    <li><a routerLink="/foo" routerLinkActive="foo">Foo</a></li>
    <li><a routerLink="/lazy" routerLinkActive="lazy">Lazy</a></li>
    <li><a routerLink="/derived" routerLinkActive="derived">Derived</a></li>
</ul>

<app-derived-first [text]="'foo bar'"></app-derived-first>
